<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Emotion__analysor_server/src/main/Emotion_analysor_server.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="main.Emotion_analysor_server"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Emotion__analysor_server"/>
</launchConfiguration>
